name: Build Android APK
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

# 必须开启写权限，否则无法发布 Release
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.19.0'

      - name: Generate Missing Project Files
        run: |
          rm -f pubspec.lock
          flutter create . --org com.mygame --project-name huarong_road --platforms android

      - name: Get Dependencies
        run: flutter pub get

      # 使用 Split Debug 构建，只生成体积小的包
      - name: Build Android APK
        run: flutter build apk --debug --split-per-abi

      # --- 核心变化：发布到 Releases ---
      - name: Release APK to GitHub
        uses: ncipollo/release-action@v1
        with:
          # 只选 arm64-v8a 这个包 (兼容绝大多数现代手机)
          # 这样你就只会得到一个 40MB 左右的单文件
          artifacts: "build/app/outputs/flutter-apk/app-arm64-v8a-debug.apk"
          tag: "latest"      # 固定标签名为 latest
          name: "最新测试版 (Auto Build)"
          body: "这是由 GitHub Actions 自动构建的最新版本，点击下方 app-arm64...apk 直接下载。"
          allowUpdates: true # 允许覆盖更新
          removeArtifacts: true # 移除旧的构建产物
          token: ${{ secrets.GITHUB_TOKEN }}
