name: Build Android APK
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.19.0'

      # 1. 修复：自动补全缺失的安卓项目文件
      - name: Generate Missing Project Files
        run: |
          rm -f pubspec.lock
          flutter create . --org com.mygame --project-name huarong_road --platforms android

      - name: Get Dependencies
        run: flutter pub get

      # 2. 核心步骤：构建“分包”版 APK
      # --debug: 使用调试模式（最稳定，无须签名配置）
      # --split-per-abi: 关键瘦身指令！它会把 138MB 的大包拆成 3 个针对不同 CPU 的小包
      - name: Build Android APK (Split Debug)
        run: flutter build apk --debug --split-per-abi

      # 3. 上传产物
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: huarong-road-split
          # 这里上传所有生成的 apk 文件
          path: build/app/outputs/flutter-apk/*.apk
