name: Build Android APK
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.19.0'

      # 1. 自动补全安卓项目文件
      - name: Generate Missing Project Files
        run: |
          rm -f pubspec.lock
          flutter create . --org com.mygame --project-name huarong_road --platforms android

      - name: Get Dependencies
        run: flutter pub get

      # 2. 构建 Release 包 (体积最小，但此时未签名)
      # --split-per-abi 会针对不同CPU架构生成独立包，进一步减小体积
      - name: Build Android APK (Release)
        run: flutter build apk --release --split-per-abi

      # 3. 使用黑科技插件自动签名 (使用内置的测试证书)
      # 这一步是把“生肉”煮熟的关键
      - name: Sign APK
        uses: patrickfav/uber-apk-signer-action@v1
        with:
          skip_zipalign: false

      # 4. 上传最终产物
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: huarong-road-optimized
          # 插件会自动把签好名的文件放在这个目录下
          path: build/app/outputs/flutter-apk/*-signed.apk
